@import "tailwindcss";

:root {
  --font-main: var(--font-montserrat), sans-serif;
  
  --background: #0e1d13;
  --foreground: #1a1d1a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-main);
}

body {
  font-family: var(--font-main);
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-main);
  font-weight: 800;
  letter-spacing: -0.02em;
  line-height: 1.1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #1a1d1a;
  }
}